package handler

import (
	"net/http"
	"log"
	"github.com/gofiber/fiber/v2"
	"{{.ProjectName}}/types"
)

func MakeHandler(h func(*fiber.Ctx) error) fiber.Handler {
	return func(c *fiber.Ctx) error {
		if err := h(c); err!= nil {
			log.Printf("internal server error: %v, path: %s", err, c.Path())
		}
		return nil
	}
}
func GetAuthenticatedUser(c *fiber.Ctx) types.AuthenticatedUser {
	user, ok := c.Locals(types.UserContextKey).(types.AuthenticatedUser)
	if!ok {
		return types.AuthenticatedUser{}
	}
	return user
}


func hxRedirect(c *fiber.Ctx, to string) error {
	if len(c.Get("HX-Request")) > 0 {
		c.Set("HX-Redirect", to)
		c.Response().SetStatusCode(http.StatusSeeOther)
		return nil
	}
	return  c.Redirect(to, http.StatusSeeOther)
}