package sb

import (
	"os"

	"github.com/nedpals/supabase-go"
)

/*  to find the url:
	1) go to your supabase project 
	2) go to Project Settings (at the bottom of the sidebar)
	3) go to the Api section 
	Project Url = url
	Example : kjaendkdeaioq.supabase.co
*/
const BaseAuthURL = "https://<url>/auth/v1/recover"

var Client *supabase.Client

// not same as built-in init func
func Init() error {
	sbHost := os.Getenv("SUPABASE_URL")
	sbSecret := os.Getenv("SUPABASE_SECRET")
	Client = supabase.CreateClient(sbHost, sbSecret)

	return nil
}
