package ui

import (
    "{{.ProjectName}}/view"
)

templ Navigation(){
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a href="/" class="btn btn-ghost text-2xl text-primary">MyApp</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
            if view.AuthenticatedUser(ctx).LoggedIn {
                <li><a href="/generate"><i class="fa-solid fa-wand-magic-sparkles"></i>Link</a></li>
                <li>
                    <details>
                        <summary>
                            {view.AuthenticatedUser(ctx).Email}
                        </summary>
                        <ul class="p-2 bg-base-100 rounded-t-none">
                            <li><a href="/settings">Settings</a></li>
                            @LogoutForm()
                        </ul>
                    </details>
                </li>
            } else {
                <a href="/login" class="btn btn-primary">Log In</a>
            }
            </ul>
        </div>
    </div>
}

templ LogoutForm() {
    <form method="POST" action="/logout">
        <li><button type="submit">Logout</button></li>
    </form>
}