package ui

templ Toast(msg string){
    <div class="toast toast-top toast-end" id="toast-id">
        <div class="alert alert-success">
            <span>{msg}</span>
        </div>
    </div>
    <script>
        setTimeout(function () {
            $('#toast-id').fadeOut('fast');
        }, 2000);
    </script>
}