package handler

import (
	"log"
	"net/http"

	"github.com/labstack/echo/v4"
	"{{.ProjectName}}/types"
)

func MakeHandler(h func(echo.Context) error) echo.HandlerFunc {
	return func(c echo.Context) error {
		if err := h(c); err != nil {
			log.Printf("internal server error: %v, path: %s", err, c.Path())
		}
		return nil
	}
}

func GetAuthenticatedUser(c echo.Context) types.AuthenticatedUser {
	user, ok := c.Get(types.UserContextKey).(types.AuthenticatedUser)
	if !ok {
		return types.AuthenticatedUser{}
	}
	return user
}

func hxRedirect(c echo.Context, to string) error {
	if len(c.Request().Header.Get("HX-Request")) > 0 {
		c.Response().Header().Set("HX-Redirect", to)
		return c.Redirect(http.StatusSeeOther, to)
	}
	return c.Redirect(http.StatusSeeOther, to)
}
