HTTP_LISTEN_ADDR=":3000"

/*
    to find this info:
    go to your Supabase Project
    go to Project Settings (at the bottom of the sidebar)
    go to Database -> Connection Parameters
*/
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=

/*
    to find this info:
    go to your Supabase Project
    go to Project Settings (at the bottom of the sidebar)
    go to API -> Project Url && Project API keys
*/
SUPABASE_SECRET=
SUPABASE_URL=

//get a random key 32-char long with command: "openssl rand -hex 16"
SESSION_KEY=